<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MovieCatalog.Properties.Settings.connString" connectionString="Data Source=DESKTOP-SCQ4IL1;Initial Catalog=MovieCatalog;Integrated Security=True"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>